<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="Source">
    <th mat-header-cell *matHeaderCellDef> Source Address </th>
        <td mat-cell *matCellDef="let t"> {{t.source}} </td>
  </ng-container>
  <ng-container matColumnDef="Timestamp">
    <th mat-header-cell *matHeaderCellDef> Timestamp </th>
        <td mat-cell *matCellDef="let t"> {{t.timestamp}} </td>
  </ng-container>
  <ng-container matColumnDef="V1">
    <th mat-header-cell *matHeaderCellDef> V1 </th>
        <td mat-cell *matCellDef="let t"> {{t.v1} </td>
  </ng-container>
  <ng-container matColumnDef="V2">
    <th mat-header-cell *matHeaderCellDef> V2 </th>
        <td mat-cell *matCellDef="let t"> {{t.v2}} </td>
  </ng-container>
  <ng-container matColumnDef="V3">
    <th mat-header-cell *matHeaderCellDef> V3 </th>
        <td mat-cell *matCellDef="let t"> {{t.v3}} </td>
  </ng-container>
  <ng-container matColumnDef="V4">
    <th mat-header-cell *matHeaderCellDef> V4 </th>
        <td mat-cell *matCellDef="let t"> {{t.v4}} </td>
  </ng-container>
  <ng-container matColumnDef="V5">
    <th mat-header-cell *matHeaderCellDef> V5 </th>
        <td mat-cell *matCellDef="let t"> {{t.v5}} </td>
  </ng-container>
  <ng-container matColumnDef="V6">
    <th mat-header-cell *matHeaderCellDef> V6 </th>
        <td mat-cell *matCellDef="let t"> {{t.v6}} </td>
  </ng-container>
  <ng-container matColumnDef="V7">
    <th mat-header-cell *matHeaderCellDef> V7 </th>
        <td mat-cell *matCellDef="let t"> {{t.v7}} </td>
  </ng-container>
  <ng-container matColumnDef="V8">
    <th mat-header-cell *matHeaderCellDef> V8 </th>
        <td mat-cell *matCellDef="let t"> {{t.v8}} </td>
  </ng-container>
  <ng-container matColumnDef="V9">
    <th mat-header-cell *matHeaderCellDef> V9 </th>
        <td mat-cell *matCellDef="let t"> {{t.v9}} </td>
  </ng-container>
  <ng-container matColumnDef="V10">
    <th mat-header-cell *matHeaderCellDef> V10 </th>
        <td mat-cell *matCellDef="let t"> {{t.v10}} </td>
  </ng-container>
  <ng-container matColumnDef="V11">
    <th mat-header-cell *matHeaderCellDef> V11 </th>
        <td mat-cell *matCellDef="let t"> {{t.v11}} </td>
  </ng-container>
  <ng-container matColumnDef="V12">
    <th mat-header-cell *matHeaderCellDef> V12 </th>
        <td mat-cell *matCellDef="let t"> {{t.v12}} </td>
  </ng-container>
  <ng-container matColumnDef="V13">
    <th mat-header-cell *matHeaderCellDef> V13 </th>
        <td mat-cell *matCellDef="let t"> {{t.v13}} </td>
  </ng-container>
  <ng-container matColumnDef="V14">
    <th mat-header-cell *matHeaderCellDef> V14 </th>
        <td mat-cell *matCellDef="let t"> {{t.v14}} </td>
  </ng-container>
  <ng-container matColumnDef="V15">
    <th mat-header-cell *matHeaderCellDef> V15 </th>
        <td mat-cell *matCellDef="let t"> {{t.v15}} </td>
  </ng-container>
  <ng-container matColumnDef="V16">
    <th mat-header-cell *matHeaderCellDef> V16 </th>
        <td mat-cell *matCellDef="let t"> {{t.v16}} </td>
  </ng-container>
  <ng-container matColumnDef="V17">
    <th mat-header-cell *matHeaderCellDef> V17 </th>
        <td mat-cell *matCellDef="let t"> {{t.v17}} </td>
  </ng-container>
  <ng-container matColumnDef="V18">
    <th mat-header-cell *matHeaderCellDef> V18 </th>
        <td mat-cell *matCellDef="let t"> {{t.v18}} </td>
  </ng-container>
  <ng-container matColumnDef="V19">
    <th mat-header-cell *matHeaderCellDef> V19 </th>
        <td mat-cell *matCellDef="let t"> {{t.v19}} </td>
  </ng-container>
  <ng-container matColumnDef="V20">
    <th mat-header-cell *matHeaderCellDef> V20 </th>
        <td mat-cell *matCellDef="let t"> {{t.v20}} </td>
  </ng-container>
  <ng-container matColumnDef="V21">
    <th mat-header-cell *matHeaderCellDef> V21 </th>
        <td mat-cell *matCellDef="let t"> {{t.v21}} </td>
  </ng-container>
  <ng-container matColumnDef="V22">
    <th mat-header-cell *matHeaderCellDef> V22 </th>
        <td mat-cell *matCellDef="let t"> {{t.v22}} </td>
  </ng-container>
  <ng-container matColumnDef="V23">
    <th mat-header-cell *matHeaderCellDef> V23 </th>
        <td mat-cell *matCellDef="let t"> {{t.v23}} </td>
  </ng-container>
  <ng-container matColumnDef="V24">
    <th mat-header-cell *matHeaderCellDef> V24 </th>
        <td mat-cell *matCellDef="let t"> {{t.v24}} </td>
  </ng-container>
  <ng-container matColumnDef="V25">
    <th mat-header-cell *matHeaderCellDef> V25 </th>
        <td mat-cell *matCellDef="let t"> {{t.v25}} </td>
  </ng-container>
  <ng-container matColumnDef="V26">
    <th mat-header-cell *matHeaderCellDef> V26 </th>
        <td mat-cell *matCellDef="let t"> {{t.v26}} </td>
  </ng-container>
  <ng-container matColumnDef="V27">
    <th mat-header-cell *matHeaderCellDef> V27 </th>
        <td mat-cell *matCellDef="let t"> {{t.v27}} </td>
  </ng-container>
  <ng-container matColumnDef="V28">
    <th mat-header-cell *matHeaderCellDef> V28 </th>
        <td mat-cell *matCellDef="let t"> {{t.v28}} </td>
  </ng-container>
  <ng-container matColumnDef="Amount">
    <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let t"> {{t.amount}} </td>
  </ng-container>
  <ng-container matColumnDef="Fraud">
    <th mat-header-cell *matHeaderCellDef> Fraud </th>
        <td mat-cell *matCellDef="let t"> {{t.fraud}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
